@import url('global.css');

.layout-page-container {
  background-color: white;
  display: flex;
  width: 100vw; /* view width */
}

main {
  display: flex;
  flex-direction: column;
  width: 82%; /* o qual tem como flex-items as tags header, section e footer */
}

nav {
  width: 18%;
  background-color: #BFD8EF;
}

header {
  background: linear-gradient(rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.50)), linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.37)), url('../assets/img/localizacao-e-contato.jpg');
  width: 82vw;
  height: 20vh;
  background-size: cover;
  background-position: center 55%;
}

section {
  height: 65vh;
}

footer {
  background-color: #BABABA;
  height: 15vh;
}